# IDEs
/.idea

# NPM
/grunt-browserify/node_modules
/grunt-browserify/npm-debug.log
/npm-scripts/node_modules
/npm-scripts/npm-debug.log
/gulp-react-flux/node_modules
/webpack/node_modules
/grunt-babel/node_modules
/grunt-babel/npm-debug.log

# Builds
/grunt-browserify/build
/npm-scripts/dist
/gulp-react-flux/dist/*
/grunt-babel/build

# Tests
/npm-scripts/coverage
/npm-scripts/test.tap

# Configs
/gulp-react-flux/config/config.json

# Cache
/webpack/.sass-cache
