# IDEs
/.idea

# NPM
/grunt-browserify/node_modules
/grunt-browserify/npm-debug.log
/npm-scripts/node_modules
/npm-scripts/npm-debug.log

# Builds
/grunt-browserify/build
/npm-scripts/dist

# Tests
/npm-scripts/coverage
/npm-scripts/test.tap
